.main-body{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.description {
   box-sizing: border-box;
   outline: none;
   resize: none;
   font-size: 20px;
   width: calc(80% - 2px); /*Minus for border*/
   height: 200px;
   padding: 5px;
}
.upload-form-container {
   width: 80%;
   max-width: 40rem;
   margin: 2rem 0;
}
/* Code for beautiful uploader starts here*/
.upload-main-container {
   width: 80%;
}
.upload-container {
   position: relative;
   height: 200px;
   width: calc(100% - 8px); /*Minus for border*/
   border-radius: var(--border-radius-primary);
   border: 4px dashed var(--gray-primary);
   background: var(--white-primary);
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 10px;
}
.image-container {
   position: absolute;
   height: 100%;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.preview-image {
   height: 100%;
   width: 100%;
   object-fit: cover;
   display: none;
}
.cancel-button {
   position: absolute;
   right: 15px;
   top: 15px;
   font-size: 2rem;
   cursor: pointer;
   color: var(--orange-primary);
   display: none;
}
.main-button {
   width: 100%;
   padding: 15px 0px;
   border: none;
   background-color: var(--green-primary);
   border-radius: var(--border-radius-primary);
   color: white;
   font-size: 20px;
   cursor: pointer;
   outline: none;
}
.main-button:hover {
   background-color: var(--green-secondary);
}
.active {
   border: 4px solid var(--gray-primary);
}
.upload-container.active .cancel-button {
   display: block;
}
.upload-container.active .cancel-button:hover {
   color: var(--orange-secondary);
}
.upload-text {
   font-size: 30px;
   color: var(--dark-primary);
}
/* Code for beautiful uploader ends here*/
