<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/createShop.css">
    <title>Create a new shop</title>
</head>
<body>
   <nav class="nav">
      <div class="main-header">
         <a href="/"><img src="/images/logo.ico" alt="eCommerce Solution"></a>
      </div>
      <div class="search-bar-container">
         <input class="search-bar" id="search-bar" type="text" placeholder="Search.....">
         <ul class="search-suggestions" id="search-suggestions">
         </ul>
      </div>
      <div class="dropdown-container">
         <button id="dropdown-hamburger" class="dropdown-hamburger">&#9776;</button>
         <ul id="dropdown" class="dropdown">
            <%if(user) {%>
               <li><a href="/user/<%=user.id%>"><%=user.name%></a></li>
               <%if(user.type === 'admin') {%>
                  <li><a href="/moderation/admin">Admin Panel</a></li>
                  <li><a href="/moderation/moderator">Moderation</a></li>
               <%}%>
               <%if(user.type === 'moderator') {%>
                  <li><a href="/moderation/moderator">Moderation</a></li>
               <%}%>
               <li><a href="/auth/logout">Sign Out</a></li>
            <%} else {%>
               <li><a href="/auth/register">Sign Up</a></li>
               <li><a href="/auth/login">Sign In</a></li>
            <%}%>
         </ul>
      </div>
   </nav>
   <div class="main-body">
      <div class="form-container">
         <form class="form" action="/shop/create" method="POST">
               <h1 class="form-header">New Shop</h1>
               <input class="form-input" id ="name" name="name" type="text" placeholder="Name">
               <select class="form-select" name="city" id="city">
                  <option value="dhaka">Dhaka</option>
                  <option value="chittagong">Chittagong</option>
                  <option value="khulna">Khulna</option>
                  <option value="rajshahi">Rajshahi</option>
                  <option value="gazipur">Gazipur</option>
                  <option value="sylhet">Sylhet</option>
                  <option value="mymensingh">Mymensingh</option>
                  <option value="barisal">Barisal</option>
                  <option value="rangpur">Rangpur</option>
                  <option value="comilla">Comilla</option>
                  <option value="narayanganj">Narayanganj</option>
               </select>
               <select class="form-select" name="area" id="area">
                  <option value="dhanmondi">Dhanmondi</option>
                  <option value="mirpur">Mirpur</option>
                  <option value="banani">Banani</option>
                  <option value="gulshan">Gulshan</option>
               </select>
               <button type="submit" class="btn form-btn">Create Shop</button>
         </form>
      </div>
   </div>
   <script type="text/javascript" src="/js/script.js"></script>
   <script type="text/javascript" src="/js/createShop.js"></script>
</body>
</html>
