<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="/css/style.css">
   <link rel="stylesheet" type="text/css" href="/css/updateProductInfo.css">
   <title>Update product info</title>
</head>
<body>
   <nav class="nav">
      <div class="main-header">
         <a href="/"><img src="/images/logo.ico" alt="eCommerce Solution"></a>
      </div>
      <div class="search-bar-container">
         <input class="search-bar" id="search-bar" type="text" placeholder="Search.....">
         <ul class="search-suggestions" id="search-suggestions">
         </ul>
      </div>
      <div class="dropdown-container">
         <button id="dropdown-hamburger" class="dropdown-hamburger">&#9776;</button>
         <ul id="dropdown" class="dropdown">
            <%if(user) {%>
               <li><a href="/user/<%=user.id%>"><%=user.name%></a></li>
               <%if(user.type === 'admin') {%>
                  <li><a href="/moderation/admin">Admin Panel</a></li>
                  <li><a href="/moderation/moderator">Moderation</a></li>
               <%}%>
               <%if(user.type === 'moderator') {%>
                  <li><a href="/moderation/moderator">Moderation</a></li>
               <%}%>
               <li><a href="/auth/logout">Sign Out</a></li>
            <%} else {%>
               <li><a href="/auth/register">Sign Up</a></li>
               <li><a href="/auth/login">Sign In</a></li>
            <%}%>
         </ul>
      </div>
   </nav>
   <div class="main-body">
      <h1 class="info-heading">Change Product Image</h1>
      <form id="image-form" class="update-form" action="changeimage" method="POST" enctype="multipart/form-data">
         <div class="upload-main-container">
            <div class="upload-container" id="upload-container">
               <div class="image-container">
                  <img src="" alt="" id="preview-image" class="preview-image">
               </div>
               <div class="content">
                  <div class="upload-text">Upload an Image.</div>
               </div>
               <div class="cancel-button" id="cancel-button">
                  X
               </div>
            </div>
            <div class="file-container">
               <input type="file" name="file" id="file-input" accept="image/*" hidden>
               <button type="button" class="main-button" id="main-button">UPLOAD</button>
            </div>
         </div>
         <button class="btn update-btn" id="image-update-btn" type="submit">UPDATE</button>
      </form>
      <h1 class="info-heading">Change Product Info</h1>
      <form id="info-form" class="update-form" method="POST" action="updateinfo">
         <input class="info-name" name="name" type="text" placeholder="New name">
         <input class="info-name" name="price" type="text" placeholder="New price">
         <textarea class="info-name description" name="description" placeholder="New description..."></textarea>
         <button class="btn update-btn" id="info-update-btn">UPDATE</button>
      </form>
   </div>
   <script type="text/javascript" src="/js/script.js"></script>
   <script type="text/javascript" src="/js/updateProductInfo.js"></script>
</body>
</html>
